{% extends "layout.html" %}
{% block title %}Animes{% endblock %}

{% block content %}
<div class ="row container">
	<div class="col-sm-12">
		<h1>Animes</h1>
	</div>
	<div class="col-sm-12">
	<a href="{{url_for('newAnime')}}" > <h3> Add Anime </h3> </a>
	</div>
	<div class="col-sm-12">
		<div class="row">
			{% for anime in animes %}
		  <div class="col-sm-4">
		    <div class="thumbnail">
		      <img src="/static/images/{{anime.image}}">
		      <div class="caption">
		        <h3>{{anime.name}} - {{anime.episodes}}</h3>
			        {% for tag in anime.tags %}
			        <a href="{{url_for('listByTag', tag_name=tag.name)}}" ><span class="label label-default">{{tag.name}}</span></a>
							{% endfor %}
		      </div>
		      <div>
		      	<a class="btn btn-default" href="{{url_for('viewAnime', anime_id=anime.id)}}" role="button">Details</a>
		      </div>
		    </div>
		  </div>
		  {% endfor %}
		</div>
	</div>
</div>

{% endblock %}
